.navbar {
    background-color: var(--primary);
    width: 248px; 
    height: 100vh;
    position: sticky;
    top: 0;
  
    padding: 2rem 1.5rem; // 64px; 24px;
  
    h1 {
  
        font-weight: 600;
        color: #FFFFFF;
        font-family: EB Garamond;
        font-size: px;
  
    }

}

.card {
    border: 1px solid var(--border-color);
    background-color: var(--background);
    border-radius: 1rem;
    min-width: 18rem;


    img {
    
        width: 100%;
        height: 12.5rem; // 200px
        object-fit: cover;
        border-radius: 1rem;// 16px 
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

    }
.labels {
    margin: 0.5rem;

 /*    div {
        display: top;
    } */


     span {
    margin: 0.5rem;
    font-family: 'EB Garamond';
    font-weight: 500;
    font-size: 24px;
    color: var(--text-color);
    

   }
   p {
        margin: 0.5rem;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        height: auto;
    
 
   }

   h3 {

    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    text-align: right;
    color: #008C45;

   }

}

}







