.input {
    display: flex;
    width: 502px;
    flex-direction: column;
    font-weight: 500;
    font-family:  Inter, Arial, sans-serif;

    input {
        height: 3rem;
        width: auto;
     
        border: none;
        border-radius: 4px;

        padding: 0 1rem;
        margin-top: 0.5rem;

        background-color: #FFFFFF;
        color: var(--text-color);
   
    }


}